article.tweets {
  border: 5px solid #22211f;
  border-radius: 5px;
  margin:  30px 60px 20px;
}

article.tweets header img {
  width: 50px;
  height: auto;
  position: relative;
  top: 0px;
  left: 0px;
}

article.tweets header {
  background-image: none;
  background-color: #f4f1ec;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 200px;
}

article.tweets header div {
  padding-left: 15px;
 
}

article.tweets header img {
  border-radius: 5px;
  float: left;
}

article.tweets span.username {
  font-family: 'Source Sans Pro', sans-serif;
  color: #4056A1;
  opacity: 0.5;
}

article.tweets h3.name {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #545149;
  margin-top: 8px;
  margin-left: 70px;
}

article.tweets footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweets p {
  border-bottom: 4px solid #545149;
  font-weight: 600;
  margin: 30px;
  padding-bottom: 35px;
  
}

article.tweets footer > p {
  font-weight: 600;
  font-size: 0.7em;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 13px;
  border: none;
}

article.tweets .tweet-icons {
  color: #4a65bd;
  font-size: 18px;
  padding: 5px 40px;
  padding-right: 40px;
  padding-top: 3px;
  margin-bottom: 13px;
}    

article.tweets .tweet-icons i {
  margin-left: 6px;
  cursor: pointer;
} 


article.tweets:hover {
  font-weight: bolder;
  box-shadow: 20px 20px 10px #616c70;
}

article.tweets:hover .handle {
  visibility: visible;
}