header {
  position: relative;
  top: 120%;
  height: 400px;
  width: 100%;
  background-color: #FF6347;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png"); 
  
}

/*Positioning the img to the centre*/
header img {
  display: inline-block;
  position: relative;
  left: 42vw;
  top: 60px;
}

/*Positioning the text to the centre, under the image*/
header h2 { 
  display: inline-block;
  width: 256px;
  position: relative;
  text-align: center;
  left: 42vw;
  top: 15px;
  color: rgb(253, 253, 253);
}

