.new-tweet button {
  color: rgb(255, 255, 255);
  background-color: #4b0bc0;
  font-family: Bungee, sans-serif;
  float: left;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive; 
}

.new-tweet textarea {
  display: flex;
  width: 100%;  
  margin-bottom: 10px;
  outline: none;
  resize: none;
  overflow: auto;
  border: none;
  border-bottom: solid 5px black;
  font-weight: bold;
  background-color: #f4f1ec;
}


.container {
  display: flex;
  justify-content: center;
  margin: 0 5% 0 5%;
}

.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 5% 0 5%;
  width: 100;
}

.new-tweet label {
  font-weight: bold;
}

.new-tweet output {
  font-family: Bungee, sans-serif;
  float: right;
}

.redLimit {
  color: red;
}

.hidden {
  visibility: hidden;
}

.error-message {
  color: red;
  display: flex;
  align-items: center;
  font-size: 14;
}